{{ define "index" }} {{ template "header"}}
<section id="bricks">

    <div class="row masonry">

        <!-- brick-wrapper -->
        <div class="bricks-wrapper">

            <div class="grid-sizer"></div>
            {{ range . }}
            <article class="brick entry format-standard animate-this">

                <div class="entry-thumb">
                    <a href="/post_details/{{ .Id }}" class="thumb-link">
                        <img src="res/images/thumbs/diagonal-building.jpg" alt="building">
                    </a>
                </div>

                <div class="entry-text">
                    <div class="entry-header">

                        <div class="entry-meta">
                            <span class="cat-links">
               				<a href="template/#">Дизайн</a> 
               				<a href="template/#">Фотографії</a>               				
               			</span>
                        </div>

                        <h1 class="entry-title"><a href="/article_details/{{ .Id }}"> {{ .Title }} </a></h1>

                    </div>
                    <div class="entry-excerpt">
                        {{ .ShortDesc }}
                    </div>
                </div>

            </article>
            <!-- end article -->
            {{ else }}
            <p>Немає жодної статті</p>

            {{ end }}
        </div>
        <!-- end brick-wrapper -->

    </div>
    <!-- end row -->



    <div class="row">

        <nav class="pagination">
            <span class="page-numbers prev inactive">Назад</span>
            <span class="page-numbers current">1</span>
            <a href="template/#" class="page-numbers">2</a>
            <a href="template/#" class="page-numbers">3</a>
            <a href="template/#" class="page-numbers">4</a>
            <a href="template/#" class="page-numbers">5</a>
            <a href="template/#" class="page-numbers">6</a>
            <a href="template/#" class="page-numbers">7</a>
            <a href="template/#" class="page-numbers">8</a>
            <a href="template/#" class="page-numbers">9</a>
            <a href="template/#" class="page-numbers next">Далі</a>
        </nav>

    </div>

</section>
<!-- end bricks -->
{{ template "footer"}} {{ end }}